<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Free movie catalogue for you">
  <link rel="icon" href="./logo.png">
  
 
  <title>EATME FE EXPERT</title>
</head>
<body>
    <header class="appBar">
        <div class="appBar_menu">
          <button id="hamburgerButton">☰</button>
        </div>
        <div class="appBar_title">
          <h1>EATME AND HAPPY!</h1>
        </div>
        <nav id="navigationDrawer" class="appBar_navigation">
          <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favourite">Favourite</a></li>
            <li><a href="#/favourite">About Us</a></li>
          </ul>
        </nav>
    </header>
    <div class="hero">
        <div class="heroInner">
          <h2 class="heroTitle">WELCOME TO EATME AND HAPPY!</h1>
          <p class="heroTagline">Jelajahi Restaurant Pilihan Kami</p>
        </div>
    </div>
    <main id="mainContent"></main>
    <footer>
      <h5>Copyright &copy; EATME and HAPPY [Hilma Nur Kholilah]</h5>
    </footer>
</body>
</html>